.container {
    background-color: grey;
    margin-top: 20px;
    padding-top: 32px!important;
    padding-bottom: 32px!important;
    width: 74em;
}

.container-web {

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    display: flex;
    background-color: rgb(7, 12, 10);
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 3em;
}

.nav-item {
    padding: 5px;
    color: rgb(255, 255, 255);
    border-right: 1px solid white;
    border-left: 1px solid white;
    text-align: center;
    cursor: pointer;
}

.nav-item:hover {
    background: lightslategray ;
    margin-bottom: -3px;
}

.row-w3-padding-31 {
    padding-top: 32px!important;
    padding-bottom: 32px!important;
}

.w3-padding-32 {
    padding-top: 32px!important;
    padding-bottom: 32px!important;
    display: flex;
    text-align: center;
}

.message-me {
    
}
h1 {
    color: white;
}

h2 {
    padding-left: 1px;
    padding-top: 1em;
    padding: auto;
    color: white;
}

p {
    color: rgb(0, 0, 0);
}
.nav-bar:last-child {
    border-right: none;
    border-left: none;
    margin-left: auto;
}

.logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.hero {
    height: 550px;
    background-image: "/gambar/person-g06901cc2b_1920-removebg-preview.png";
}

form {
    max-width: 400px;
    margin: 20px auto;
}

label, input, textarea {
    display: block;
    margin-bottom: 10px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#kirim {
    padding: 1em;
    width: 150px;
    border: none;
    cursor: pointer;
    bottom: 1em;
    margin-bottom: 1em;
}

#result {
    padding: 10px;
}

footer {
    content: center;
    color: rgb(255, 255, 255);
    background: black;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-size: 1px -1em;
    text-align: center;
}
